<div class="jumbotron">
  <% unless params[:term] %>
    <h3>Últimas perguntas cadastradas...</h3>
  <% else %>
    <h3><%= "Resultados para o termo \"#{params[:term]}\"..." %></h3>
  <% end %>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path, local: true do |form| %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= question.description %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% question.answers.each do |answer| %>
              <li style="list-style-type: none">
                <div class="radio">
                  <label>
                    <%= radio_button_tag ' answer', answer.id %>
                    <%= answer.description %>
                  </label>
                </div>
              </li>
            <% end %>
            <li style="list-style-type: none">
              <%= form.submit "Responder", class:"btn btn-primary" %>
            </li>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

<div class="row d-flex justify-content-center">
  <%= paginate @questions %>
</div>