<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    

    <!-- Custom fonts for this template-->
    <link href="/templates/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/templates/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_importmap_tags %>

    <!-- Bootstrap core JavaScript-->
    <script src="/templates/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script src="/templates/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/templates/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/templates/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

    <% if flash %>
      <% flash.each do |key, value| %>
        <%= javascript_tag  do %>
          $.bootstrapGrowl("<%= value %>", {
          type: 'danger', // (null, 'info', 'danger', 'success')
          align: 'right', // ('left', 'right', or 'center')
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
          });
        <% end %>
      <% end %>
    <% end %>

</body>

</html>