<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/navbar-static/">
   
    <!-- Bootstrap core CSS -->
    <link href="/templates/bootstrap-4.6.1-examples/assets/dist/css/bootstrap.min.css" rel="stylesheet">

      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        .espacamento{
          padding-right: 10px;
        }
      </style>
   
    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">Time To Answer</span>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav">
            <% unless user_signed_in? %>
              <li class="nav-item espacamento"> <%= link_to 'Entrar', new_user_session_path %></li>
              <li class="nav-item"> <%= link_to 'Cadastrar-se', new_user_registration_path %></li>
            <% else %>
              <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to destroy_user_session_path, class:"dropdown-item" do %>
                        <i class="fa fa-sign-out fa-fw"></i> Sair
                    <% end %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

<main role="main" class="container">
  <div class="jumbotron">
    <h1>Site</h1>
    <p class="lead">Este é um projeto de estudo do curso Ruby on Rails 5.x - Do início ao fim!</p>
    <%= yield %></br>
  </div>
</main>
  
  <%= javascript_importmap_tags %>    

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/templates/bootstrap-4.6.1-examples/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/templates/bootstrap-4.6.1-examples/assets/dist/js/bootstrap.bundle.min.js"></script>
  
  </body>
</html>